---
vedení:
  <%= for l <- leadership do %>- "[[<%= l %>]]"
  <% end %>
sídlo:
  <%= for p <- place do %>- "[[<%= p %>]]"
  <% end %>
působnost:
  <%= for g <- geo do %>- "[[<%= g %>]]"
  <% end %>
prameny: <%= inspect(sources) %>
tags: <%= expertise |> Enum.map(&"organizace/#{&1}") |> inspect() %>
aliases: <%= inspect(aliases) %>
---
# <%= name %>

<%= description %>
