---
pohlaví: <%= sex %>
rasa: <%= race %>
geografická oblast: "[[<%= place %>]]"
příslušnost: "[[<%= organization %>]]"
status: <%= status %>
význam: <%= significance %>

prameny: <%= inspect(sources) %>
tags: [postava]
aliases:
---
# <%= name %>

<%= description %>
