---
geografická oblast: "[[<%= geo %>]]"
území: "[[<%= place %>]]"
správní celek: "[[<%= ruler %>]]"

prameny: <%= inspect(sources) %>
tags: [sídlo/<%= significance %>]
aliases: <%= inspect(aliases) %>
---
# <%= name %>

<%= description %>
